.todo-list {
  text-align: center;
  font-size: 22px;
}

.todo-list ul{
  display: inline-block;
  text-align: left;
  list-style: none;
}

.todo-list a {
  text-decoration: none;
  color: black;
}

.todo-list a:hover {
  color: darkslategray;
}
